/*字体*/
@font-face {
    font-family: "Corbel";
    /*src: url('/public/fonts/Corbel.ttf');*/
    src: url('/fonts/Corbel.ttf');
}
body{
    font-family:Corbel;
}
/*头部样式*/
.navbar{
    /*background: black;*/
    border-radius: 0px;
    height: 134px;
    margin: 0px;
    border: 1px;
    width: 100%;
    background: #151515;
    /*background-image:url("/images/top_bottom.png") ;*/
    -webkit-background-size:cover;
    background-size:cover;
}
.navbar-brand
{
    left: 89px;
    position: relative;
    top:7.5px;
}
.nav.navbar-nav{
    position: relative;
    height: 100%;
    padding-top: 72px;
}
.nav.navbar-nav li{
    padding: 0px 35px;
}
.nav.navbar-nav li a
{
    color: #BAAA76;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    line-height: 36px;
    height: 36px;
}
.nav.navbar-nav li a:hover{
    background: none;
}
.nav.navbar-nav li a:focus{
    background: none;
}
.nav.navbar-nav.navbar-header li:nth-of-type(2)
{
    border-left: 1px solid #BAAA76;
    border-right: 1px solid #BAAA76;

}

.nav.navbar-nav.navbar-header li:nth-of-type(3)
{
    border-right: 1px solid #BAAA76;
}
.nav.navbar-nav.navbar-right{
    width: 240px;
    margin: 0;
}

/*首页*/
.carousel-inner img
{
    width: 100%;
    height: 100%;
}
.carousel-inner > .item{
height: 685px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #BAAA76;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a
{
    font-size: 14px;
    color: #BAAA76;
}
.navbar-foot2
{
    background-image: url("/images/bg-footer2.jpg");
}
.navbar-foot1
{
    background-image: url("/images/bg-footer.jpg");
}
.nav-top1
{
    background-image: url("/images/bartop.jpg");
}
.navbar-bottom a{
    font-size: 12px; color:#8c8c8c !important;
}
.navbar.navbar-default.navbar-foot
{

    bottom: 0px;
    padding-left: 62px;
}
.nav.navbar-nav.navbar-foot  li{

    padding: 0px 35px;
}
.nav.navbar-nav.navbar-foot >li{
    border-right:1px solid #BAAA76;
}
#line
{
    width: 100%;
    height: 10px;
    background-image:-webkit-linear-gradient(to left, #939598, #000000);
    background-image:linear-gradient(to left, #939598, #000000);
    box-shadow: 1px 0px 5px 2px #ffffff;
    position: absolute;
    bottom: 107px;
}
#livraison
{
    height: 107px;
    width: 100%;
    background: rgba(255,255,255,0.75);
    position: absolute;
    bottom: 0px;
    color: #BAAA76;
    font-size: 33px;
}

#commandBtn
{
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 38px;
    margin-left: 44%;
    background-image: url("/images/command.png");
    background-size: 150px;
    cursor: pointer;
}
.carousel-indicators
{
    bottom: 137px;
}
.carousel-indicators>li
{
    float: right;
    margin-right: 5px;
}
.livraison-icon{
    width: 450px;
    position: relative;
    top: 30px;
}

.drop-bar-item
{
    width: 211px;
    height: 95px;
    color: #BAAA76;
    text-align: center;
    position: relative;
    float:left;
    opacity: 0.4;
    left: 170px;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -ms-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
.drop-bar-item:hover
{
    opacity:1;
    cursor: pointer;

}

#drop-bar
{
    width: 100%;
    position: relative;
    height: 95px;
    z-index: 1;
    background: black;
    overflow: hidden;
    display: none;

}
#panier-count
{
    color: #BAAA76;
    background: none;
    border-radius: 50%;
    border: 1px solid #BAAA76;
}